[submodule "opt/bootstrap"]
	path = opt/bootstrap
	url = git@github.com:silence/bootstrap
[submodule "opt/costs"]
	path = opt/costs
	url = git@git.sm1.in:costs
[submodule "opt/m2"]
	path = opt/m2
	url = git@git.sm1.in:m2
[submodule "opt/jquery.payment.git"]
	path = opt/jquery.payment.git
	url = https://github.com/stripe/jquery.payment.git
