/* Notes:
   - Vertical Centering: http://blog.themeforest.net/tutorials/vertical-centering-with-css/
*/

html, body {
    margin:0; padding:0;
    height:100%;
}

/* Set background color to black. */
body { 
    background-color:#000;
}


/* Vertically centered floating div. */
#floater {
    position:relative; float:left;
    height:50%;	margin-bottom:-361px;
    width:1px;
}

/* Horizontally centered div. */
#centered {
    position:relative; clear:left;
    /* height:722px; width:80%; max-width:1060px; min-width:400px; */
    height:722px; width:1060px;
    margin:0 auto;
}

/* Overlay the shelving image.
   Ref: http://webdesignerwall.com/tutorials/css-decorative-gallery */
#overlay {
   width: 541px;
   height: 722px;
   display: block;
   position: absolute;
   top: 0;
   left: 0;
}
