{:host "localhost"
 :domain "sm1.in"

 ;; Start an nrepl server.
 :nrepl true
 
 ;; Launch the website in a browser.
 ;; :launch-browser false

 ;; Datomic transactor uri
 :datomic-uri "datomic:mem://"}
