{:host "localhost"
 :domain "sm1.in"

 ;; Use non minimized js files.
 :minimize? false

 ;; Launch the website in a browser.
 ;; :launch-browser false

 ;; Datomic transactor uri
 :datomic-uri "datomic:mem://"}
