body, html {
	background-color: #000000;
	padding: 0px;
	text-align: center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#wrapper {
	display: block;
	height: auto;
	width: 1060px;
	font-family: Ubuntu, Arial, sans-serif;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 1em;
	color: #8C8C8C;
}
#rotate1 {
	display: inline;
	float: left;
	height: 722px;
	width: 541px;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#rightcol1 {
	display: inline;
	float: left;
	height: auto;
	width: 419px;
	margin-top: 255px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#rightcol1 img {
	display: block;
	float: left;
	height: auto;
}
.logo1 {
	clear: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 42px;
	margin-left: 0px;
}
.thing1 {
	clear: right;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 35px;
	margin-left: 150px;
}

#menu1 {
	list-style:none;
	font-weight:bold;
	float:left;
	width:300px;
	display: block;
	height: 90px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 150px;
	}
/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav1{
	list-style:none;
	font-weight:bold;
	margin-bottom:0px;
	/* Clear floats */
	float:left;
	width:100%;
	background-image: url(graphics/one.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 19pt;
	padding-left: 24px;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav1 li{
	float:left;
	margin-right:10px;
	position:relative;
	font-family: Crimson, "Times New Roman", serif;
	font-size: 14px;
	text-transform: capitalize;
	width: 250px;
	text-decoration: none;
	line-height: 14px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#nav1 a {
	display:block;
	color:#fff;
	text-decoration:none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#nav1 a:hover{
	color:#fff;
	text-decoration:none;
}


/*--- DROPDOWN ---*/
#nav1 ul{
	background:#000; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.red { 	background:#B20937;
	color: #00FF00;
}
#nav1 li ul li {
	float:none;
	font-family: Ubuntu, Arial, sans-serif;
	text-transform: uppercase;
	width: 248px;
	padding: 0px;
	font-size: 10px;
	margin-left: -40px;
	border: 1px solid #FFFFFF;
}



#nav1 ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav1 li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav1 li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	text-decoration:none;
}
#nav1 li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav1 li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#B20937;

}
.notyet {
	color: #CCCCCC;
	background-color: #333333;
}
.notyet li:hover ul li a:hover  {
	color: #333;
	background-color: #000;
}
#header1 {
	display: block;
	float: left;
	height: 42px;
	width: 866px;
	clear: both;
}
#header2 {
	display: block;
	float: left;
	height: auto;
	width: 886px;
	clear: both;
	margin: 0px;
	padding: 0px;
}
.col1 {
	color: #262626;
	display: inline;
	float: left;
	height: auto;
	width: 197px;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: #3B3B3B;
	border-top-style: none;
	border-bottom-style: none;
	border-right-width: 2px;
	padding-top: 35px;
	background-color: #262626;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 20px;
}
.col1b {
	color: #262626;
	display: inline;
	float: left;
	height: 100%;
	width: 217px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #3B3B3B;
	border-top-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: none;
	border-top-color: #3B3B3B;
	border-right-width: 2px;
	border-right-color: #3B3B3B;
	text-align: center;
	padding-top: 35px;
	background-color: #262626;
}
.col1c {
	color: #262626;
	display: inline;
	float: left;
	height: auto;
	width: 197px;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: #3B3B3B;
	border-top-style: none;
	border-bottom-style: none;
	border-right-width: 2px;
	padding-top: 10px;
	background-color: #262626;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.col2 {
	display: inline;
	float: left;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	height: 144px;
	width: 205px;
	padding-left: 10px;
	border-right-width: 2px;
	border-right-color: #3B3B3B;
	text-align: left;
}
.col2b {
	display: inline;
	float: left;
	width: 432px;
	text-align: center;
	height: 26px;
	padding-top: 17px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #3B3B3B;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #3B3B3B;
}
.col2 ul {
	margin-left: -35px;
	clear: both;
	display: block;
	float: left;
	width: 180px;
}
.col2 li {
	font-family: Crimson, "Times New Roman", serif;
	list-style-type: none;
	font-size: 13px;
	line-height: 15px;
	text-transform: capitalize;
}
.col2 li a, .col2 li a:link, .col2 li a:visited, .col2 li a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.col2 li a:hover { color: #CCC;}
.col2c {
	display: inline;
	float: left;
	width: 432px;
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #3B3B3B;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #3B3B3B;
	margin: 0px;
	padding: 0px;
}
.col2d {
	display: inline;
	float: left;
	width: 432px;
	text-align: center;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #3B3B3B;
	margin: 0px;
	padding: 0px;
}

.col3 {
	display: inline;
	float: left;
	width: 217px;
}
col4 {
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 215px;
}
.col4 img {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

#lang {
	color: #000000;
	display: block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
	margin-bottom: 0px;
	padding-bottom: 22px;
}
#lang a, #lang a:link, #lang a:active, #lang a:visited {
	color: #8C8C8C;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	font-size: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
}
#lang a:hover {
	color: #FFFFFF;
}
a.select {
	color: #FFFFFF;
}
#cart {
	color: #000000;
	font-size: 12px;
	display: block;
	clear: both;
	padding-top: 35px;
	margin-bottom: 15px;
	line-height: 14px;
	float: left;
	width: 180px;
}
#cart a, #cart a:link, #cart a:visited, #cart a:active {
	color: #8C8C8C;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	font-size: 10px;
	display: inline;
	float: left;
}
#cart a:hover { color: #FFFFFF; }
#cart img {
	margin-top: -10px;
	margin-right: -8px;
}
#content {
	display: block;
	clear: both;
	float: left;
}
#footer {
	display: block;
	clear: both;
	float: left;
	width: 832px;
}

#redbar {
	background-color: #AB003A;
	display: block;
	clear: both;
	height: 18px;
	width: 100%;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 20px;
}
#redbar img {
	display: inline;
	float: left;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#address {
	font-size: 10px;
	text-transform: uppercase;
	color: #545454;
}
#copyright {
	font-size: 8px;
	text-transform: uppercase;
	color: #545454;
	margin-top: 10px;
}
.col2e {

	display: inline;
	float: left;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	height: 102px;
	width: 205px;
	padding-left: 10px;
	border-right-width: 2px;
	border-right-color: #3B3B3B;
	text-align: left;
}
