{:port 2000
 
 :internationalization { ;; list of enabled languages
                        :locales ["en" "fr" "es" "it"]
                        :default-locale "en"
                        :default-territories {:en "GB", :fr "FR", :de "DE", :es "ES", :it "IT"}

                        ;; warn if url translations are missing for some locale in a
                        ;; page or url handler.
                        :require-url-translations false}

 ;; The mail account used to send internal mail notifications.
 ;; (See http://en.wikipedia.org/wiki/Edwin_Jarvis).
 :jarvis {:host "smtp.gmail.com"
          :user "jarvis@sistemimoderni.com"}

 ;; Email addressess
 :email {:info "info@sistemimoderni.com"
         :orders "orders@sistemimoderni.com"
         :support "support@sistemimoderni.com"}

 ;; Datomic transactor uri
 :datomic-uri "datomic:dev://localhost:4334"

 ;; Mandrill (transactional email)
 :mandrill {:smtp {:host "smtp.mandrillapp.com"
                   :port 587
                   :user "jon@sistemimoderni.com"}}

 :ups {;; test urls
       :urls {:confirm "https://onlinetools.ups.com/ups.app/xml/ShipConfirm"
              :accept "https://onlinetools.ups.com/ups.app/xml/ShipAccept"}

       :Shippers {:stephane {:Name "SistemiShipper"
                             :AttentionName "SistemiFabricator"
                             :PhoneNumber "0423456789"
                             :ShipperNumber "AY3413"
                             :Address {:AddressLine1 "ZA la Croisette"
                                       :City "Clelles en Trièves"
                                       :StateProvinceCode ""
                                       :CountryCode "FR"
                                       :PostalCode "38930"}}}}}
