div#content {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

div.post-list {
    margin-bottom: 25px;
}

.article-image {
    border: 10px solid;
    margin-bottom: 10px;
}

.article-meta {
    width: 100%;
    margin-bottom: 10px;
}

.article-meta .categories {
    text-align: right;
}

a.continue-reading {
    margin-left: 10px;
}

div.side-block h3 {
    text-transform: uppercase;
    font-size: 12px;
}

div.side-block a {
    font-size: 12px;
    color: #8C8C8C;
}

div.side-block a:hover {
    color: #FFF;
    text-decoration: none;
}

ul.side-nav {
    margin-left: 0px;
    list-style-type: none;
}

