a, a:active, a:visited, a:hover {
    color: #FFFFFF;
}

/* ----- GREY BOXES AND BORDERS ----- */
.greybox {
    background-color: #262626;
}

.greyborder_r {
    border-right: 1px solid #3B3B3B;
}

.greyborder_b {
    border-bottom: 1px solid #3B3B3B;
}

.greyborder_br {
    border-bottom: 1px solid #3B3B3B;
    border-right: 1px solid #3B3B3B;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #999;
}

.error {
    color: #FF0000;
    font-size: 14px;
}

/* ----- LANGUAGE SELECTION ----- */
#lang {
    font-family: Ubuntu,Arial,sans-serif;
    text-align: left;
    padding-bottom: 11px;
}

#lang a, #lang a:link, #lang a:active, #lang a:visited {
    color: #8C8C8C;
    font-size: 10px;
    padding-right: 4px;
    padding-left: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#lang .line {
    color: #000000;
    font-size: 8px;
}

#lang a.select, #lang a:hover {
    color: #FFFFFF;
}


/* ----- SHORTCUTS ----- */
#shortcuts li {
    /* font-family: Crimson,"Times New Roman",serif; */
    font-family: Ubuntu,Arial,sans-serif;
    font-size: 13px;
    line-height: 15px;
    list-style-type: none;
    text-transform: capitalize;
}

#shortcuts li a, #shortcuts li a:link, #shortcuts li a:visited, #shortcuts li a:active {
    color: #FFFFFF;
    text-decoration: none;
}

#shortcuts li a:hover {
    color: #AB003B;
}

/* ----- FOOTER ----- */
#redbar {
	background-color: #AB003A;
	height: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#redbar img {
	/* display: inline; */
	float: left;
        margin-right: 10px;
}
.first {
	/* display: inline; */
	float: left;
	margin-left: 30px;
}

/* ---------- forms ---------- */

.form-header {
    font-size: 20px;
    font-family: Ubuntu,Arial,sans-serif;
    margin-top: 20px;
}

.form-header:first-child {
    margin-top: 0px;
}

.payment label.control-label {
    color: #A6A6A6;
    margin-right: 12px;
    width: 100px;
}

.payment.form-horizontal .control-group {
    margin-bottom: 10px;
}

.payment.form-horizontal .controls {
    margin-left: 0px;
}

.payment input {
    width: 145px;
}

.payment input.invalid {
    border: 1px solid red;
}

.payment select {
    /* width: 145px; */
    width: 155px;
}

label.error {
    /* color: #AB003A; */
    color: #FF003A;
    text-align: center;
}

/* ---------- end forms ---------- */

/**
 * Large button extensions. Extends `.btn`.
 */
.btn-large {
    padding: 16px 25px;
    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/* inherits from btn-inverse */
.btn-green {
  background-image: -moz-linear-gradient(top, #55AA55, #222222);
  background-image: -ms-linear-gradient(top, #55AA55, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55AA55), to(#222222));
  background-image: -webkit-linear-gradient(top, #55AA55, #222222);
  background-image: -o-linear-gradient(top, #55AA55, #222222);
  background-image: linear-gradient(top, #55AA55, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55AA55', endColorstr='#222222', GradientType=0);
}

.wizard a {
    color: #8C8C8C;
    text-decoration: none;
}
.wizard a:hover {
    color: #FFF;
}

#footer {
    color: #545454;
    font-family: Ubuntu,Arial,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-transform: uppercase;
}

#address {
    font-size: 10px;
    line-height: 12px;
}

#copyright {
    font-size: 8px;
    line-height: 10px;
    padding-top: 10px;
}

div.text_content {
    margin-top: 45px;
    margin-left: 25px;
}

.title {
    color: #AD0039;
    text-transform: uppercase;
}

.company_name {
    color: #AD0039;
}

.bullet_title {
    color: #AD0039;
}

.feedback_textarea {
    height: 100px;
    width: 100%;
    overflow: scroll;
}

.submitbtn {
    clear: both;
    float: right;
    margin-top: 5px;
    margin-right: -20px;
}

.twocol td {
    padding-right: 5px;
}

/* bootstrap overrides */
/* Add blue border to submit button when focused to match other inputs. */
button.btn[type=submit]:focus {
    border-color: rgba(82, 168, 236, 0.8);
}

/* Trick to get columns to be even height in bootstrap.
   http://stackoverflow.com/questions/9143971/using-twitter-bootstrap-2-0-how-to-make-equal-column-heights
*/
.col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap {
    overflow: hidden;
}

#inner-content {margin: 30px 0px 0px 30px;}

/* Cart Detail Table */
table.cart                {width:100%; margin-top: 15px;}
table.cart tr.single_rule {border-top: 2px solid #383838; padding-top: 10px;}
table.cart tr.double_rule {border-top: 6px double #383838; padding-top: 10px;}
table.cart tr.item        {border-top: 2px solid #383838;}
table.cart tr.item > td   {padding-top: 10px; padding-bottom:10px; vertical-align:top;}
table.cart tr.total       {font-size: 16px;}
table.cart tr.total > td  {padding-top: 10px; text-transform: capitalize;}


/* Order Detail Table */
table.order                {width:100%; margin-top: 15px;}
table.order tr.double_rule {border-top: 6px double #383838; padding-top: 10px;}
table.order tr.item        {border-top: 2px solid #383838;}
table.order tr.item > td   {padding-top: 10px; padding-bottom:10px; vertical-align:top;}
table.order tr.total       {font-size: 16px;}
table.order tr.total > td  {padding-top: 10px; text-transform: capitalize;}
table.order th             {text-transform: capitalize;}
