/* ----- GREY BOXES AND BORDERS ----- */
.greybox {
    background-color: #262626;
}

.greyborder_r {
    border-right: 1px solid #3B3B3B;
}

.greyborder_b {
    border-bottom: 1px solid #3B3B3B;
}

.greyborder_br {
    border-bottom: 1px solid #3B3B3B;
    border-right: 1px solid #3B3B3B;
}

.white {
    color: #FFFFFF;
}

/* ----- LANGUAGE SELECTION ----- */
#lang {
    font-family: Ubuntu,Arial,sans-serif;
    text-align: left;
    padding-bottom: 11px;
}

#lang a, #lang a:link, #lang a:active, #lang a:visited {
    color: #8C8C8C;
    font-size: 10px;
    padding-right: 4px;
    padding-left: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#lang .line {
    color: #000000;
    font-size: 8px;
}

#lang a.select, #lang a:hover {
    color: #FFFFFF;
}


/* ----- SHORTCUTS ----- */
#shortcuts li {
    /* font-family: Crimson,"Times New Roman",serif; */
    font-family: Ubuntu,Arial,sans-serif;
    font-size: 13px;
    line-height: 15px;
    list-style-type: none;
    text-transform: capitalize;
}

#shortcuts li a, #shortcuts li a:link, #shortcuts li a:visited, #shortcuts li a:active {
    color: #FFFFFF;
    text-decoration: none;
}

#shortcuts li a:hover {
    color: #AB003B;
}

/* ----- FOOTER ----- */
#redbar {
	background-color: #AB003A;
	height: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}
#redbar img {
	/* display: inline; */
	float: left;
        margin-right: 10px;
}
.first {
	/* display: inline; */
	float: left;
	margin-left: 30px;
}


#footer {
    color: #545454;
    font-family: Ubuntu,Arial,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-transform: uppercase;
}

#address {
    font-size: 10px;
    line-height: 12px;
}

#copyright {
    font-size: 8px;
    line-height: 10px;
    padding-top: 10px;
}

div.text_content {
    margin-top: 45px;
    margin-left: 25px;
}

.title {
    color: #AD0039;
    text-transform: uppercase;
}

.company_name {
    color: #AD0039;
}

.greytextarea {
	color: #FFFFFF;
	/* height: 210px; */
        height: 100px;
        width: 100%;
	background-color: #404040;
	overflow: scroll;
	/* margin-left: 20px; */
	padding: 0px;
}

.submitbtn {
    clear: both;
    float: right;
    margin-top: 5px;
    margin-right: -20px;
}

.twocol td {
    padding-right: 5px;
}

/* bootstrap overrides */
/* Add blue border to submit button when focused to match other inputs. */
button.btn[type=submit]:focus {
    border-color: rgba(82, 168, 236, 0.8);
}

/* Trick to get columns to be even height in bootstrap.
   http://stackoverflow.com/questions/9143971/using-twitter-bootstrap-2-0-how-to-make-equal-column-heights
*/
.col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap {
    overflow: hidden;
}
