<!-- <configuration debug="true"> -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level|%logger{1}|%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="sistemi">
    <level value="DEBUG" />
  </logger>

  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
